/* LoginPage.css */
.login-page{
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.Register{
    margin:auto;
}
a{
    text-decoration: none;
    color: #007bff;

}
.RegNFor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-container {
    
    max-width: 300px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  .input-label {
    font-weight: bold;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  